.form-group{
  margin: 5px;
}

.form-control{
  display: inline;
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid black;
  border-radius: 10px;
  @apply drop-shadow-xl;
}

.control-label{
  font-size: 13px;
  font-weight: bold;
}

.btn-group{
  @apply mt-6;
}

.btn-group .btn{
  margin :10px;
  @apply font-semibold text-[16px];
}

.btn-group .btn-danger{
  @apply bg-red-700 px-3 py-2 text-white rounded-md hover:scale-110 active:scale-100 transition-transform duration-200
}

.btn-group .btn-primary{
  @apply bg-sky-700 px-3 py-2 text-white rounded-md hover:scale-110 active:scale-100 transition-transform duration-200
}